body{
    background-color:#DCDCDC;
    text-align: center;
    padding: 40px;
}

.counter{
    font-size: 30px;
    font-weight: bold;
}

.incButton{
    margin: 5px;  
}

.decButton{
    margin: 5px;  
}

